@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.donationCard {
  @include m.flexBox(column, center, center, 0.5rem);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80vw;
  padding: 1rem;
  margin: 0;
  color: $white;
  margin: 2rem 0rem 2rem 1rem;
  text-shadow: 2px 1px #00000040;

  @media (min-width: 1200px) {
    margin-left: 0;
    width: 40vw;
    height: 17vh;
  }

  .moneyStyling {
    color: $light-green;

    @media (min-width: 1200px) {
      align-self: flex-end;
      padding-right: 3rem;
    }
  }

  .footertext {
    @media (min-width: 1200px) {
      align-self: flex-start;
      padding-left: 0.7rem;
    }
  }

  &.info {
    background-image: url("./banner_image_4.png");
    text-align: center;

    @media (min-width: 1200px) {
      width: 89vw;
      height: 28vh;

      @media (min-width: 1400px) {
        width: 92vw;
        height: 40vh;
      }

      p {
        width: 360px;
      }
    }
  }

  &.toDate {
    background-image: url("./banner_image2.jpg");

    h2,
    h3 {
      margin: 0;
      font-weight: 400;
    }

    header {
      align-self: flex-start;

      @media (min-width: 1200px) {
        padding-left: 1.5rem;
      }

      h2 {
        text-align: left;
      }
    }
  }
  &.thisYear {
    background-image: url("./banner_image3.jpg");

    h2,
    h3 {
      margin: 0;
    }

    header {
      align-self: flex-start;

      h2 {
        text-align: left;
      }
    }
  }
}
