@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.donationCard {
  @include m.flexBox(column, center, center, 0.5rem);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80vw;
  padding: 1rem;
  margin: 0;
  color: $white;
  margin: 2rem 0rem 2rem 1rem;

  .moneyStyling {
    color: $light-green;
  }

  &.info {
    background-image: url("./banner_image_4.png");
    text-align: center;
  }

  &.toDate {
    background-image: url("./banner_image2.jpg");

    h2,
    h3 {
      margin: 0;
    }

    header {
      align-self: flex-start;

      h2 {
        text-align: left;
      }
    }
  }
  &.thisYear {
    background-image: url("./banner_image3.jpg");

    h2,
    h3 {
      margin: 0;
    }

    header {
      align-self: flex-start;

      h2 {
        text-align: left;
      }
    }
  }
}
