@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

h2 {
  text-align: center;
}

.cardStyling {
  @include m.flexBox(column, center, center, 0.5rem);
  background: $white;
  border: 2px solid $light-green;

  figcaption {
    margin: 0.7rem;
    .barStyling {
      @include m.flexBox(row, space-between, center, 0.5rem);
      background: $green;
      color: $white;
      padding: 0rem 2rem;
    }
  }

  img {
    width: 100%;
  }
}

.footerContainer {
  @include m.flexBox(row, flex-end, center, 0.6rem);
  margin-right: 3rem;

  .removeStyling {
    color: $red;
  }
}
