@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.categoriesContainer {
  ul {
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #333232;

        &.activeLink {
          color: $black;
        }
      }
    }
  }
}
