@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.categoriesContainer {
  @media (min-width: 1200px) {
    margin-left: 1rem;

    @media (min-width: 1400px) {
      margin: 0;
    }
  }

  h3 {
    text-align: center;
    width: 130px;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #333232;

        &.activeLink {
          color: $black;
          font-style: bold;
        }
      }
    }
  }
}
