@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.categoriesContainer {
  @media (min-width: 1200px) {
    margin-left: 4rem;

    @media (min-width: 1400px) {
      margin: 0;
    }
  }
  ul {
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #333232;

        &.activeLink {
          color: $black;
        }
      }
    }
  }
}
