@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, flex-start, 0rem);

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 1200px) {
    width: 25vw;
    img {
      display: block;
      object-fit: cover;
      height: 20vh;
      width: 100%;
    }

    @media (min-width: 1400px) {
      height: 25vh;
      width: 25vw;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &.featuredProducts {
    img {
      display: block;
      //Mit styling breaker på mobile så måtte lappeløse det ned important
      width: 280px !important;

      @media (min-width: 1200px) {
        width: 13vw !important;
      }

      @media (min-width: 1400px) {
        width: 12vw !important;
      }
    }

    @media (max-width: 1200px) {
      margin: 1rem 0.5rem;

      &:first-of-type {
        margin-left: 3rem !important;
      }

      &:last-of-type {
        margin-right: 1rem;
      }
    }

    @media (min-width: 1400px) {
      &:first-of-type {
        margin-left: 3rem !important;
      }
    }
  }

  &.featuredCategories {
    @media (min-width: 1200px) {
      margin: 1rem 0.5rem;
      &:first-of-type {
        margin-left: 3rem;
      }

      &:last-of-type {
        margin-right: 3rem;
      }
      img {
        display: block;
        object-fit: cover;
        height: 15vh;
        width: 14vw;

        @media (min-width: 1400px) {
          width: 14.9vw;
        }
      }
    }
  }

  &.listingCard {
    @media (min-width: 1200px) {
      width: 20vw;

      div {
        p,
        h3 {
          margin: 0;
        }
      }
    }
  }

  &:hover {
    img {
      border: 4px solid $green;
    }

    .captionStyling {
      display: block;
      width: 100%;
      background: #1d843999;
      color: $white;
      text-align: center;
      border: 4px solid #1d843999;
      border-top: 0;
      margin-top: -3rem;
    }
  }

  .captionStyling {
    display: none;
  }

  .topStyling {
    background: $light-green;
    width: 100%;

    a {
      color: $white;
      p {
        text-align: center;
      }
    }
  }
}
