@use "./mixins" as m;
@use "./variables" as *;

%inputContainer {
  .inputContainer {
    @include m.flexBox(column, center, center, 0.2rem);

    label {
      align-self: flex-start;
    }

    input {
      padding: 0.4rem 2rem 0.4rem 0.5rem;
      outline: 0;
      border: 2px solid $light-green;
    }

    textarea {
      resize: none;
      padding: 0.4rem 2.8rem 3rem 0.5rem;
      outline: 0;
      border: 2px solid $light-green;
    }
  }
}

%buttonContainer {
  .buttonContainer {
    align-self: flex-end;
    margin-right: 4.5rem;
    input {
      background: $green;
      border: 0;
      color: $white;
      padding: 0.5rem 2rem;
    }
  }
}
