@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.formStyling {
  @include m.flexBox(column, center, center, 1rem);
  margin-bottom: 4rem;

  @media (min-width: 1200px) {
    margin-bottom: 16rem;
  }

  .inputContainer {
    position: relative;
    @include m.flexBox(column, center, center, 0.2rem);

    label {
      align-self: flex-start;
    }

    input {
      padding: 0.4rem 2rem 0.4rem 0.5rem;
      outline: 1px solid $light-green;
      border: 1px solid $light-green;
      background: $gray;

      @media (min-width: 1200px) {
        width: 40vw;
        padding: 0.7rem 2rem 0.7rem 0.5rem;
      }
    }

    img {
      width: 6vw;
      position: absolute;
      bottom: 7%;
      right: 2%;

      @media (min-width: 1200px) {
        width: 2.5vw;
      }
    }
  }

  p {
    margin: 0;
  }

  .linkStyling {
    margin: 0;
    margin-left: 4.5rem;
    align-self: flex-start;
    width: 200px;

    @media (min-width: 1200px) {
      margin-left: 20.5rem;
      align-self: flex-start;
      width: fit-content;
    }

    a {
      color: $green;
    }
  }

  .buttonContainer {
    align-self: flex-end;
    margin-right: 4.5rem;

    @media (min-width: 1200px) {
      margin-right: 20.5rem;
    }
    input {
      background: $green;
      border: 0;
      color: $white;
      padding: 0.5rem 2rem;
    }
  }
}
