@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.sectionHeader {
  border-top: 4px solid $green;
  margin: 0rem 1rem;

  @media (min-width: 1200px) {
    margin: 0rem 3.3rem;
  }

  &.noTop {
    border: 0;
  }

  &.formHeader {
    text-align: center;

    @media (min-width: 1200px) {
      font-size: 27px;
    }
  }
}

.wrapperStyling {
  img {
    // width: 100%;
  }

  @media (min-width: 1200px) {
    min-height: 10vh;
  }

  &.navContainer {
    @include m.flexBox(column, center, center, 1rem);
    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 0rem;
    }
  }

  &.iconContainer {
    @include m.flexBox(column, center, center, 1rem);

    img {
      width: 8vw;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 1.5rem;

      img {
        width: 3vw;
      }
    }
  }

  &.cardsContainer {
    @include m.flexBox(column, center, center, 1rem);

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 0rem;
      padding: 0rem 1rem;
    }
  }

  &.productsListing {
    @include m.flexBox(column, center, center, 1rem);
    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: center;
      gap: 0rem;
      margin: 0rem 2rem;
    }
  }

  &.categoryProduct {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-right: 2rem;
      margin-left: -3rem;

      @media (min-width: 1400px) {
        margin: 0;
      }
    }
  }

  &.rowWrapper {
    @include m.flexBox(column, center, center, 1rem);
    margin-top: 2rem;

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 0;
    }
  }

  &.commentContainer {
    @include m.flexBox(column, center, center, 1rem);
    margin-top: 2rem;
  }

  &.infoImage {
    @include m.flexBox(column, center, center, 1rem);

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 3.5rem;
      margin: 0rem 1rem;
    }
  }
}
