@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.sectionHeader {
  border-top: 4px solid $green;
  margin: 0rem 1rem;

  &.noTop {
    border: 0;
  }

  &.formHeader {
    text-align: center;
  }
}

.wrapperStyling {
  img {
    width: 100%;
  }

  &.iconContainer {
    @include m.flexBox(column, center, center, 1rem);

    img {
      width: 8vw;
    }
  }

  &.rowWrapper {
    @include m.flexBox(column, center, center, 1rem);
    margin-top: 2rem;
  }
}
