@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.footerStyling {
  @include m.flexBox(column, center, center, 1rem);
  padding: 0rem 1rem;
  background: $light-green;
  margin-top: 3rem;

  a {
    color: $white;
  }

  div {
    header {
      h2 {
        color: $white;
        text-align: left;
      }
    }

    .inputContainer {
      input {
        padding: 0.4rem 1.5rem;
      }
      input[type="submit"] {
        background: $green;
        color: $white;
        border: 0;
        font-size: 15px;
        padding: 0.4rem 0.5rem;
      }
    }
  }
}
